*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color:white;
    display: flex;
    margin:0;
    align-items: center;
 /*   flex-direction: column;*/
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bg{
    background: url(girl.jpg) no-repeat center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: white;
}